{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Modern Business - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'music/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'music/css/modern-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
    <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">Buja Hits Music</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sign
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="{% url 'login' %}">Sign-In</a>
              <a class="dropdown-item" href="{% url 'logout' %}">Sign-Out</a>
              <a class="dropdown-item" href="{% url 'register' %}">Sign-Up</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Blog
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="#">Library</a>
              <a class="dropdown-item" href="#">Movies</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  {% for music in musics %}
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
      <small>{{ music.title }}.mp3</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'music' %}">Home</a>
      </li>
      <li class="breadcrumb-item active">{{ music.title }}</li>
    </ol>

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-4">
        <img class="img-fluid" src="http://placehold.it/750x500" alt="">
      </div>

      <div class="col-md-4">
        <h3 class="my-3">Project Description</h3>
        <p>Description du contenue selectionner</p>
        <h3 class="my-3">About Song</h3>
        <ul>
          <li>Author            : {{ music.author }}</li>
          <li>Composer          : {{ music.composer }}</li>
          <li>Label or Studio   : {{ music.label }}</li>
          <li>Price             : {{ music.price }}$</li>
          <li>Release           : {{ music.release }}</li>
        </ul>
        <!-- Scripts for likes -->
        <h3 class="my-3">Point Of View</h3>
        <table>
            <tr>
            </tr>
            <tr>
                <td>
                    <!-- Form for likes -->
                    <form action="" id="like_dislike" name="theForm" method="POST">
                        <!-- {% csrf_token %} -->
                        <!-- <button onclick="document.getElementById('like_dislike').submit();">like {{ form_view_avi.likes }}</button>
                        <button onclick="document.getElementById('like_dislike').submit();">dislike {{ form_view_avi.dislikes }}</button>  -->
                        <button class="btn btn-sm" type="submit" onclick="theForm()">
                            <!-- {{ form_view_avi.likes }} -->
                            <input aria-describedby="inputGroup-sizing-sm"  style="background-color:rgb(29, 83, 230);color: #fff;border-color: #112025;border-radius: 10px;"
                                    class="form-control"
                                    type="submit"
                                    name="likes"
                                    value="Like">
                        </button>
                        <button class="btn btn-sm" type="submit" onclick="theForm()">
                            <!-- {{ form_view_avi.dislikes }} -->
                            <input  style="background-color:#ba2121;color: #fff;border-color: #112025;border-radius: 10px;"
                                    class="form-control"
                                    type="submit"
                                    name="dislikes"
                                    value="Dislike">
                        </button>
                    </form>
                    <!-- Scripts for likes -->
                    <script>
                        function theForm(){
                            document.theForm.submit();
                        }
                    </script>

                </td>
            </tr>
        </table>
      </div>

      <div class="col-md-4">
        <div class="card h-100">
          <h3 class="card-header">Basic</h3>
          <div class="card-body">
            <div class="display-5">{{ music.price }}</div>
            <div class="font-italic">per month</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
            <li class="list-group-item">
              <a href="#" class="btn btn-primary">Télécharger</a>
              <a href="#" class="btn btn-success">Acheter</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <h3 class="my-4">Recherches associées:
      <h4><small>Ses nouveautés</small></h4>
    </h3>


    <div class="row">

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
      </div>

    </div>
    <!-- /.row -->
    {% endfor %}

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'music/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'music/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
