*.pyc
*.cpython-37
*.jpeg
*.jpg
*.mp3
*.mp4
*.avi
*.pdf
*.png
media/
BujaMovies/__pycache__/
BujaMovies/migrations/
librairie/__pycache__/
librairie/migrations/
Hogi/__pycache__/
db.sqlite3
music/migrations/
music/__pycache__/