*.pyc
*.cpython-37
*.jpeg
*.jpg
*.mp3
*.mp4
*.avi
*.pdf
*.png
media/
BujaMovies/__pycache__/
BujaMovies/migrations/__pycache__/
librairie/__pycache__/
librairie/migrations/__pycache__/
Hogi/__pycache__/
