{% extends "base.html" %}

{% block title %} {{ acceuil }} {% endblock %}

{% block header %}

  <!-- Page Content -->
  <div class="container">

    <br>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'index' %}">Home</a>
      </li>
      <li class="breadcrumb-item active">Apropos</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-4">
            <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
          </div>
        </div>


      </div>
      <div class="col-lg-6">
        <h2>Apropos Hogi</h2>
        <p>Nous sommes Hogi, nous rendons les services à toutes les gens sans exception aucune en leur montrant les nouveautés de toutes sortes à dans les domaines ci dessous:</p>
        <p>
          <ul>
            <li>Les <a href="#">films</a> de toutes sortes.</li>
            <li>Les <a href="#">livres</a> de toutes sortes.</li>
            <li>Les <a href="#">musiques</a> de toutes sortes.</li>
          </ul>
        </p>
        <p>Nous sommes les premiers à vous annoncer les activités des artistes musical, acteurs cinema, ecrivains des livres Burundais; dès leur lancement officiel.
          <br> N'hesites pas à vous inscrire pour n'est pas ratter tous les actualités en rapport.</p>
      </div>
    </div>
    <!-- /.row -->
<br><hr><hr>
    <!-- Team Members -->
    <h4><i>Suivez nous aussi sur :</i></h4>

    <!-- /.row -->

    <!-- Our Customers -->

    <div class="row">
      <div class="col-lg-2 col-3 col-md-2 col-sm-2">
        <a href="https://www.twitter.com" class="fa fa-twitter"></a>
      </div>
      <div class="col-lg-2 col-3 col-md-2 col-sm-2">
        <a href="https://www.facebook.com" class="fa fa-facebook"></a>
      </div>
      <div class="col-lg-2 col-3 col-md-2 col-sm-2">
        <a href="https://www.instagram.com" class="fa fa-instagram"></a>
      </div>
      <div class="col-lg-2 col-3 col-md-2 col-sm-2">
        <a href="https://www.youtube.com" class="fa fa-youtube"></a>
      </div>

      <style media="screen">
        .fa {
          padding: 10px;
          font-size: 50px;
          width: 50px;
          text-align: center;
          text-decoration: none;
          margin: 5px 2px;
        }

        .fa:hover {
          opacity: 0.4;
        }

        .fa-facebook {
          color: #3B5998;
        }

        .fa-twitter {
          color: #55ACEE;
        }

        .fa-youtube {
          color: #bb0000;
        }

        .fa-instagram {
          color: #f40083;
        }
      </style>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  {% endblock %}
