{% extends "base.html" %}

{% block title %} {{ acceuil }} {% endblock %}

{% block header %}{% endblock %}

{% block content %}

<!-- Page Heading/Breadcrumbs -->
<!-- <h1 class="mt-4 mb-3">Bienvenue à
  <small>BujaMovies</small>
  <p id="ok">OK</p>
</h1> -->
<br>
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'acceuil_app' %}">BujaMovies</a>
  </li>
  <li class="breadcrumb-item active">Details</li>
</ol>

    <!-- Portfolio Item Row -->
    <div class="row">

      <div id="cover_back" class="col-md-4">
        <img id="cover_detail" class="img-fluid" src="{{ film_obj.cover.url }}" alt="">
        <table>
          <h5 class="my-2">&nbsp;&nbsp;Votre avis compte.</h5>
            <tr>
            </tr>
            <tr>
                <td>
                    <!-- Form for likes -->
                    <form action="" id="like_dislike" name="theForm" method="POST">
                        {% csrf_token %}
                        <!-- <button onclick="document.getElementById('like_dislike').submit();">like {{ form_view_avi.likes }}</button>
                        <button onclick="document.getElementById('like_dislike').submit();">dislike {{ form_view_avi.dislikes }}</button>  -->
                        <button class="btn btn-sm" type="submit" onclick="theForm()">
                            <!-- {{ form_view_avi.likes }} -->
                            <input aria-describedby="inputGroup-sizing-sm"  style="background-color:rgb(29, 83, 230);color: #fff;border-color: #112025;border-radius: 10px;"
                                    class="form-control"
                                    type="submit"
                                    name="likes"
                                    value="Like">
                        </button>
                        <button class="btn btn-sm" type="submit" onclick="theForm()">
                            <!-- {{ form_view_avi.dislikes }} -->
                            <input  style="background-color:#ba2121;color: #fff;border-color: #112025;border-radius: 10px;"
                                    class="form-control"
                                    type="submit"
                                    name="dislikes"
                                    value="Dislike">
                        </button>
                    </form>
                    <!-- Scripts for likes -->
                    <script>
                        function theForm(){
                            document.theForm.submit();
                        }
                    </script>
                </td>
            </tr>
        </table>
      </div>

      <div class="col">
        <div class="card h-100">
          <h5 class="card-header"> {{ film_obj }}[{{ film_obj.resolution }}] <br> Seulement à <i>{{ film_obj.prix_telechargement }}</i> FBU</h5>
          <div class="card-body">
            <div class="display-5"><p>Description du contenue selectionner</p></div>
            <div class="font-italic">Ecrire iciEcrire iciEcrire iciEcrire iciEcrire iciEcrire iciEcrire ici</div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <font size="2">Acteur &emsp;&emsp;&emsp; : {{ film_obj.acteur }}</font>
            </li>
            <li class="list-group-item">
              <font size="2">Réalisateur &emsp; : {{ film_obj.realisateur }}</font>
            </li>
            <li class="list-group-item">
              <font size="2">Studio &emsp;&emsp;&emsp; : {{ film_obj.studio }}</font>
            </li>
            <li class="list-group-item">
              <form class="" action="index.html" method="post">
                <a href="#" class="btn btn-primary">Téléchargement Gratuit</a>
                <a id="telechargerA" href="#" class="btn btn-success">Télécharger Payant</a>
                <a id="telechargerB" href="#" class="btn btn-success">Validation</a>
                <a id="telechargerC" href="#" class="btn btn-success">Télécharger</a>
                <input class="form-control" style ="margin-top: 5px;" id="inputid" required type="text" placeholder="Numéro de comfirmation"/>
              </form>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <h3 class="my-4">Recherches associées:
      <h4><small>Ses nouveautés</small></h4>
    </h3>


    <div class="row">

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </a>
      </div>

    </div>
    <!-- /.row -->

  {% endblock %}
