{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'main.css' %}">

</head>
<body>
        {% for music in musics %}
        <div id="bg">
            <div id="blackLayer"></div>
            <img src="{{ music.cover.url }}">

        </div>
        <div id="main">
            
            <div id="image">
                <img src="{{ music.cover.url }}">
            </div>
            <div id="player">
                
                <div id="songTitle">{{ music.titre }}</div>

                <div id="playerHtml">
                    <audio controls  controlsList="nodownload">
                        <source src="{{ music.audio.url }}" type="audio/mp3">
                    </audio>
                </div>
            </div>
            
        </div>
        {% endfor %}
    

</body>
</html>
