{% extends "base.html" %}

{% block title %} {{ acceuil }} {% endblock %}

{% block content %}

<!-- row 1 -->
<div class="row">

    <div class="col-12">
        <div class="alert alert-success" role="alert">
            <h3 style="text-align: center" > <a href="{% url 'acc' %}">Buja Movies</a> </h3>
            <hr><hr>
            <h2>{{ film_obj }} [{{ film_obj.resolution }}]</h2>
        </div>
    </div>

</div>
<!-- row 2 -->
<div class="row">

    <div class="col-6">
        <div class="alert alert-primary" role="alert">
            
            <div class="row">
                <div class="col">
                    <!-- <a href="{{ film_obj.film.url }}">Watch now</a> -->
                    <video width="420px" poster="" controls alt="{{ film_obj.titre }}">
                        <source src="{{ film_obj.film.url }}" type="video/mp4">
                        <source src="{{ film_obj.film.url }}" type="video/ogg">
                    </video>
                </div>
            </div>

        </div>
    </div>

    <div class="col-6">
        <div class="alert alert-primary" role="alert">

            <div class="row">
                <div class="col">
                    <form action="" method="post">
                        <button id="telechargerA" class="btn btn-success">
                            <a download="{{ film_obj.film.url }}" href="{{ film_obj.film.url }}">Télécharger ici</a>
                        </button>
                        <button id="telechargerC" class="btn btn-secondary">
                            <a>Télécharger ici</a>
                        </button>
                        <button  id="telechargerB" type="submit" name ="checkcode" class="btn btn-secondary">
                            <a>Télécharger ici</a>
                        </button>
                        <br>
                            <input style ="margin-top: 5px;" id="inputid" required type="text" placeholder="Numéro de comfirmation"/>
                        <br><br>
                    </form>
                    <img src="{{ film_obj.cover.url }}" width="200px" height="250px" alt="{{ film_obj.titre }}">
                </div>
                <div class="col">

                    {% if request.user.is_authenticated %}
                        <a class="btn btn-danger" href="/admin/logout/">Deconnexion</a>
                        <br><br>
                        <h3>Hello {{ request.user }} !</h3>
                    {% else %}

                        <a href="{% url 'connexion' %}">
                            <input type="submit" name="connexion" class="btn btn-success" value="Se connecter" />
                        </a>
                    
                        <a href="{% url 'inscription' %}">
                            <input type="submit" name="inscrire" class="btn btn-secondary" value="S'inscrire" />
                        </a>
                    
                    {% endif %}
                    
                </div>
            </div>

        </div>
    </div>

</div>
<!-- row 3 -->

<div class="row">

    
    <div class="col">
        <div class="alert alert-success" role="alert">

            {% if request.user.is_authenticated %}
            <h4> Votre commentaire ici </h4>
            <i style="color: green"> {{ msg }}</i>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form_view_comm.as_p }}
                <input type="submit" class="btn btn-primary" value="Submit" />
            </form>
            
            {% else %}
            
            <i>Pour commenter, Vous devez vous connecter d'abord!</i>
            
            {% endif %}
            <hr>
        </div>
    </div>
    
    <div class="col">
        <div class="alert alert-success" role="alert">
            {% if request.user.is_authenticated %}
            <h4><u><i>Tous les commentaires</i></u></h4>

            <table>
                <tr>
                    <td>
                        {{ all_likes }} Like(s) and {{ all_dislikes }} Dislike(s) for {{ film_obj.titre }} film {{ mssg }}
                        <table>
                            <tr>
                            </tr>
                            <tr>
                                <td>
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        {{ form_view_avi.as_p }}
                                        <input type="submit" class="btn btn-primary" name="like" value="Like" />
                                    </form>
                                </td>
                                <td>
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        {{ form_view_avi1.as_p }}
                                        <input type="submit" class="btn btn-danger" name="dislike" value="Dislike" />
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                {% for com_list in comm_obj %}
                <tr>
                    <td>
                        <i><b>{{ com_list.user }}</b>, le {{ com_list.date }} <br>{{ com_list.commentaire }}</i>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            {{ all_likes }} Like(s) and {{ all_dislikes }} Dislike(s) for {{ film_obj.titre }} film {{ mssg }}
            {% endif %}
        </div>
    </div>
    

</div>

{% endblock %}
