{% extends "base.html" %}

{% block content %}

    <div class="row">
      <div class="col-md-10 col-lg-9 mx-auto float-left">
          <div class="card card-signin flex-row my-5">
            <div class="card-img-left d-none d-md-flex">
                <!-- Background image for card set in CSS! -->
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Welcome back!</h5>
              <form method="post" {% if next_p %} action=".?next={{ next_p }}" {% else %} action="." {% endif %}>
                {% csrf_token %}
                {{ formulaire.as_p }}
                <input type="submit" name="submit" class="btn btn-lg btn-primary btn-block btn-login font-weight-bold mb-2" >
              </form>
            </div>
      </div>
    </div>
  </div>



{% endblock %}