{% load static %}
<!doctype html>
<html lang="fr">
<head>
    <title>{% block title %}Hogi{% endblock %} - Chat Place</title>
    
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
</head>

<body>
    <header>
    	<aside>
            {% if user.is_authenticated %}
            	<a href="{% url 'deconnexion' %}">Deconnexion</a>
            {% else %}
            	<a href="{% url 'connexion' %}?next={{request.path}}">Connexion</a>
            {% endif %}
        	<a href="{% url 'admin:index' %}">Admin</a>
        </aside>

        <h1><a href="{% url 'home' %}">HOGI chat place</a></h1>
    </header>

    <div class="container">
    	{% block content %}{% endblock %}
    </div>
            
    <footer>
        Mon super blog - Powered by Django
    </footer>
</body>
</html>
