{% extends "base.html" %}
{% load static %}

{% block title %} {{ page }} {% endblock %}

{% block content %}
<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">{{ page }}</h5>
            <form method="post" enctype="multipart/form-data" action="{% url url slug %}">
              {% csrf_token %}
              {{ form.as_p }}
              <input class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="{{ page }}" name="{{ page }}" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}