{% extends "base.html" %}

{% block title %} "details" {% endblock %}

{% block header %}{% endblock %}

{% block content %}

<!-- Page Heading/Breadcrumbs -->
<!-- <h1 class="mt-4 mb-3">Bienvenue à
  <small>BujaMovies</small>
  <p id="ok">OK</p>
</h1> -->
<br>
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'library' %}">Library' home</a>
  </li>
  <li class="breadcrumb-item active">Details</li>
</ol>
<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <img id="cover_detail" class="img-fluid" src="{{ book.cover.url }}" alt="">
        <a href="{% url 'like' book.slug 1 %}" class="btn btn-link inline">
          {% if like_value == "1" %}liked{% else %}like{% endif %}
        </a>
        <a href="{% url 'like' book.slug 2 %}" class="btn btn-link inline">
          {% if like_value == "2" %}disliked{% else %}dislike{% endif %}
        </a>
      </div>
      <div class="col-md-12 col-lg-8">
        <h3> {{ book.titre }}[200 pages] </h3>
        <font size="2">par <a href="{% url 'bbaut' book.owner %}">{{ book.owner }}</a></font>
        <div class="display-5">
          <p>Description du contenue selectionné</p>
        </div>
        <div class="font-italic">{{ book.details }}</div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="list-group">
      <div class="list-group-item">
        <font size="2">Écrivain : <a href="{% url 'bbaut' book.owner %}">{{ book.owner }}</a></font>
      </div>
      <div class="list-group-item">
        <font size="2">Maison : <a href="{% url 'bbmais' book.maison %}">{{ book.maison }}</a></font>
      </div> 
      <div class="list-group-item">
        <font size="2">Catégorie : <a href="{% url 'bbcat' book.categorie %}">{{ book.categorie }}</a></font>
      </div> 
      <div class="list-group-item">
        <font size="2">version : {{ book.version }} sortie le {{ book.annee }}</font>
      </div> 
      <div class="list-group-item">
        <font size="2">Prix : {{ book.prix }}</font>
      </div> 
      <div class="list-group-item">
        <div class="row">
          {% if user.is_authenticated %}
          <div class="col-lg-6 col-sm-12 mb-2">
            <a href="{{ book.thumbnail.url }}" class="btn btn-primary btn-sm col-12" download>
            Télécharger</a>
          </div>
          {% endif %}
          <div class="col-sm-12 col-lg-6">
            <a id="acheter" href="#" class="btn btn-success btn-sm col-12">acheter</a>
            <a id="valider" href="#" class="btn btn-success btn-sm col-12">valider</a>
            <a id="telecharger" href="#" class="btn btn-success btn-sm col-12">Télécharger</a>
          </div>
          <input class="form-control col-md-12 mr-4 mt-2" id="inputid" required type="text" placeholder="Numéro de comfirmation"/>
        </div>
      </div> 
    </div>
  </div>
</div>
    <!-- Related Projects Row -->
    <h3 class="my-4">Recherches associées:
      <h4><small>Ses nouveautés</small></h4>
    </h3>


    <div class="row">

      {% for book in lasts %}
        
      <div class="col-lg-2 col-sm-3 col-4 detail_element mb-3">
        <div class="card h-100">
          <a class="h100" href="{% url "book" book.slug %}">
            <img class="card-img-top" height="100px" src={{ book.cover.url }} alt="">
            <small>{{ book.titre }}</small>
          </a>
        </div>
      </div>
      {% endfor %}

    </div>
    <!-- /.row -->

  {% endblock %}
