{% extends "base.html" %}

{% block title %} {{ cone }} {% endblock %}

{% block content %}
<!-- row 1 -->
<div class="row">
    <div class="col">
        <div class="alert alert-success" role="alert">
            <h3 style="text-align: center" >Bienvenu à BujaMovies</h3>
            <hr>
        </div>
    </div>
</div>
<!-- row 2 -->

<div class="row">
    <div class="col">
        <div class="alert alert-success" role="alert">
            <hr>
            <h2> <u>Se connecter</u> </h2>
            {% if error %}
            <p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
            {% endif %}
            
            {% if request.user.is_authenticated %}
            Vous êtes connecté, {{ user.username }} !
            {% else %}
            <form action="" method="POST">
                {% csrf_token %}
                {{ form_view_con.as_p }}
                <input type="submit" name = "connex" value="Submit" class="btn btn-primary"/>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}