{% extends "base.html" %}

{% block title %} {{ acceuil }} {% endblock %}

{% block header %}

<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image: url('{{ slide1.cover.url }}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>{{ slide1.titre }}</h3>
            <p>This is a description for the first slide.</p>
          </div>
        </div>
        {%  for slide in film_obj %}
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{{ slide.cover.url }}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>{{ slide.titre }}</h3>
            <!-- <p>This is a description for the first slide.</p> -->
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <!-- <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Second Slide</h3>
            <p>This is a description for the second slide.</p>
          </div>
        </div> -->
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <!-- <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
          <div class="carousel-caption d-none d-md-block">
            <h3>Third Slide</h3>
            <p>This is a description for the third slide.</p>
          </div>
        </div> -->
        {% endfor %}
      </div>

      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

{% endblock %}

{% block content %}

<!-- Page Heading/Breadcrumbs -->
<h1 id="buja" class="mt-4 mb-3">Bienvenue à
  <small>BujaMovies</small>
  <!-- <p id="ok">OK</p> -->
</h1>

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'acceuil_app' %}">BujaMovies</a>
  </li>
  <li class="breadcrumb-item active">Acceuil</li>
</ol>

    <!-- Elements Content -->
    <div class="row">
      {% for film_list in filmsPage %}
      <div class="col-lg-2 col-md-3 col-sm-4 col-6 detail_element">
        <div class="card h-100">
          <a href="#"><img id="img" class="card-img-top" src="{{ film_list.cover.url }}" alt="{{ film_list.titre }}" height="200px"></a>
          <div class="card-body">
            <h6 class="card-title">
              <a id="titre_sm" href="{% url 'details_app' film_list.slug %}">{{ film_list.titre }}</a>
            </h6>
            <p id="acteur_sm" class="card-text"> <font size="1">{{ film_list.acteur }}</font> </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div><hr>

<br>
    <!-- Pagination -->

    {% if filmsPage.has_other_pages %}
  <ul class="pagination justify-content-center">
    {% if filmsPage.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ users.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
    {% else %}
      <li class="page-item" class="disabled">
          <span></span>
      </li>
    {% endif %}
    {% for i in filmsPage.paginator.page_range %}
      {% if filmsPage.number == i %}
        <li class="page-item" class="active">
          <a class="page-link">
            <span>{{ i }} <span class="sr-only">(current)</span></span>
          </a>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if filmsPage.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ users.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    {% else %}
      <li class="page-item" class="disabled">
        <span></span>
      </li>
    {% endif %}
  </ul>
  {% endif %}


    <!-- Go back to the top -->
    {% block call %}
      <div class="row mb-4">
      <div class="col-md-8">
      <p></p>
      </div>
      <div class="col-md-4">
      <a class="btn btn-lg btn-secondary btn-block" href="#">Retour vers le haut</a>
      </div>
      </div>
    {% endblock %}

{% endblock %}
