{% extends "base.html" %}

{% block title %} {{ inscription }} {% endblock %}

{% block content %}
<!-- row 1 -->
<div class="row">
    <div class="col">
        <div class="alert alert-success" role="alert">
            <h3 style="text-align: center" >Bienvenu à BujaMovies</h3>
            <hr>
        </div>
    </div>
</div>
<!-- row 2 -->

<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="alert alert-success" role="alert">
            <hr>
            <h2> <u>S'inscrire</u> </h2><br>
            <i style="color: green"> {{ msg }}</i>
            <form action="" method="POST">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form_view_inscr.as_p }}
                        <input type="submit" name = "inscrire" value="Créer Maintenant" class="btn btn-outline-primary btn-sm btn-block"/>
                        <br> <a href="{% url 'connexion' %}">S'inscrire</a>
                    </div>
                
            </form>
        </div>
    </div>
    <div class="col"></div>
</div>

{% endblock %}