{% extends "home.html" %}
{% block upload %}
  <a class="dropdown-item" href="{% url 'upload_music' %}">upload a music</a>
{% endblock %}
{% block app_content %}
<h1 id="buja" class="mt-4 mb-3">
  <small>Bienvenue dans l'espace pour</small>
  {{ nom_app }}
  <!-- <p id="ok">OK</p> -->
</h1>

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="{% url 'library' %}">{{ nom_app }}</a>
  </li>
  <li class="breadcrumb-item active">Acceuil</li>
</ol>


  <!-- Elements Content -->
    <div class="row">
      {% for element in page_content %}
      <div class="col-lg-3 col-md-4 col-sm-6 detail_element ">
        <div class="card h-100">
          <a href="{% url 'about_music' element.slug %}"><img id="img" class="card-img-top" src="{{ element.cover.url }}" alt="{{ element.titre }}" ></a>
          <div class="card-body">
            <h4 class="card-title">
              <a id="titre_sm" href="{% url 'about_music' element.slug %}">{{ element.titre }}</a>
            </h4>
            <p id="acteur_sm" class="card-text">{{ element.owner }}</p>        
            {% if element.owner.user == user %}
              <a class="btn btn-sm btn-info mb-2 " href="#">Modifier</a>
              <a class="btn btn-sm btn-danger float-right" href="#">Supprimer</a>
            {% endif %}
            {% if user.is_authenticated %}
                <a class="btn btn-sm btn-success " href="{% url 'music_player' element.slug %}">PlayNow</a>
                <a class="btn btn-sm btn-warning float-right" href="{{ element.audio.url }}" download>Download</a>
            {% endif %}
            
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

<br>
{% endblock app_content %}
